<mat-toolbar>
  <span [matMenuTriggerFor]="menu" class="glyphicon glyphicon-menu-hamburger"></span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]='["/"]'><span class="glyphicon glyphicon-home"></span> Home</button>
    <button mat-menu-item [routerLink]='["/live-view"]'><span class="glyphicon glyphicon-facetime-video"></span> Live
    </button>
    <button mat-menu-item [routerLink]='["/capture"]'><span class="glyphicon glyphicon-picture"></span> Capture
    </button>
  </mat-menu>
</mat-toolbar>
